[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = ">=0.0.0"
openai = ">=0.0.0"
python-dotenv = ">=0.0.0"
jinja2 = ">=0.0.0"
flask = ">=0.0.0"
pyrss2gen = ">=0.0.0"
feedparser = ">=0.0.0"
certifi = ">=0.0.0"
cd = ">=0.0.0"
pyyaml = ">=0.0.0"
prompt-toolkit = ">=0.0.0"
pypodcastparser = ">=0.0.0"
werkzeug = ">=0.0.0"
exceptiongroup = ">=0.0.0"
zeroconf = ">=0.0.0"
waitress = ">=0.0.0"
validators = ">=0.0.0"
beartype = ">=0.0.0"
openai-whisper = ">=0.0.0"
flask-sqlalchemy = ">=0.0.0"
flask-migrate = ">=0.0.0"
Flask-APScheduler = ">=0.0.0"
ffmpeg-python = ">=0.0.0"
litellm = ">=0.0.0"  # Pin to avoid fastuuid dependency
bleach = ">=0.0.0"
types-bleach = ">=0.0.0"
groq = ">=0.0.0"
async_timeout = ">=0.0.0"
pytest-cov = ">=0.0.0"
flask-cors = ">=0.0.0"
bcrypt = ">=0.0.0"
httpx-aiohttp = ">=0.0.0"
stripe = ">=0.0.0"

[dev-packages]
black = ">=0.0.0"
mypy = ">=0.0.0"
types-pyyaml = ">=0.0.0"
types-requests = ">=0.0.0"
types-waitress = ">=0.0.0"
pylint = ">=0.0.0"
pytest = ">=0.0.0"
dill = ">=0.0.0"
isort = ">=0.0.0"
types-flask-migrate = ">=0.0.0"
pytest-mock = ">=0.0.0"
watchdog = ">=0.0.0"
requests = ">=0.0.0"
types-flask-cors = ">=0.0.0"

[requires]
python_version = "3.11"
